.first-row {
  &::after {
    position: absolute;
    bottom: -0.8rem;
    width: 100%;
    content: '';
    border-bottom: 0.1rem solid;
  }
}

a:hover {
  position: relative;
  color: #eee !important;
}
