.section-hd {
    margin-top: 5px;
    height: 38px;
    overflow: hidden;
    border-bottom: 2px solid #4bc0ef;
    .section-title {
        min-width: 100px;
        font-size: 22px;
        font-weight: bold;
    }
}